@import "~bootstrap/scss/bootstrap";


/* header */
header {
    margin-bottom: 50px;
}




/* main cards */

.card-group {

    justify-content: center;

    .card {

        max-width: 560px;

        img {

            width: 150px;
        }
    }
}
