@import "~bootstrap/scss/bootstrap";
@import "partials/variables";
@import "partials/common";
@import "partials/header";
@import "partials/main";
@import "partials/footer";







/* main cards */

.card-group {

    justify-content: center;

    .card {

        max-width: 560px;
        padding-top: 10px;

        img.student-photo {
            border-radius: 50% !important;
            width: 200px;
        }

    }
}
