.footer-sticky {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #0cd977;
    color: white;

    p {
        font-size: 20px;
        padding: 0 20px;
        margin: 0;
    }
}
