.main-jumbo {



    background-color: $jumbo-bgc;
    background-image: url("https://www.boolean.careers/images/visual/header_after.png");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;

    h1,
    p {
        color: white;
    }

}

/* cards */

.card-group {

    margin-top: $card-margin;


    .card-body {
        a {
            color: $bool-green;

        }
    }

}




/* form */
.contatti-form {
    margin-top: $form-margin;

    button.btn-green-bool {
        background-color: $bool-green;
        border: none;
    }
}
